body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 20px;
}

a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-align: center;
}

section {
    background-color: white;
    width: 80%;
    margin-top: 75px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#article-list {
    margin: 15px;
    padding-bottom: 5px;
}

article {
    border-bottom: solid black;
}

footer {
    position: static;
    background-color: black;
    padding: 2px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

footer h5 {
    color: white;
    text-align: center;

}